{#
/**
 * FacebookConnector plugin for Craft CMS
 * LastUpdateWidget Widget Body
 *
 * @author    Simon Müller itsCoding
 * @copyright Copyright (c) 2017 Simon Müller itsCoding
 * @link      https://www.itscoding.ch
 * @package   FacebookConnector
 * @since     0.1.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@itscoding/facebookconnector/assetbundles/oauthwidget/dist', true) ~ '/img/OAuthWidget-icon.svg' %}
<img src="{{ iconUrl }}" height="64" width="64"/>
<h3><a href="{{ settingsLink }}"> {{ 'Settings'|t('facebook-connector') }}</a></h3>
<p>
    <b>{{ 'connected facebook page'|t('facebook-connector') }}:</b>
    <a href="https://facebook.com/{{ settings.pageId }}" target="_blank">{{ settings.pageId }}</a><br>

    <b>{{ 'api version'|t('facebook-connector') }}:</b> {{ settings.apiVersion }}<br>

    <b>{{ 'App ID'|t }}:</b> {{ settings.appId }}<br>

    <b>{{ 'Has a valid OAuth Token'|t('facebook-connector') }}:</b>
    {{ oAuthStatus  ? 'Yes'|t('facebook-connector')  : 'No'|t('facebook-connector') }}<br><br>

    <a href="{{ tokenLink }}" class="btn submit" target="_blank" data-icon="refresh">
        {{ 'Load a new token'|t('facebook-connector') }}
    </a>
</p>

